.button{
    background-color: blue;
    color: white;
}
a:link{
    color: pink;
    background-color: black;
}
a:visited{
    color: green;
}
a:hover{
    color: red;
}
a:active{
    color: green;
}