body{
    background-color: black;
}
.li1{
    background-color: aqua;
}
.li2{
    background-color: blueviolet;
}
.li3{
    background-color: brown;
}
.li4{
    background-color: cadetblue;
}
.li5{
    background-color: chartreuse;
}