img{
    height: 20px;
}
.number{
    padding-left: 40px;
    margin-top: -20px;
}
.phone{
    padding-top: 20px;
}
.gmail{
    padding-left: 40px;
    margin-top: -20px;
}
.adress{
    padding-left: 40px;
    margin-top: -20px;
}
.facebook{

} 
.twitter{
    margin-left: 20px;
}
.instagram{
    margin-left: 20px;
}